{% extends "base.html" %}

{% block contents %}
    <p id = "about">
        This site contains information about programming competitions all over the world (and displays it in your local time - that was main reason to make it :). I hope, it will be useful for you. 
        Please, if you are informed about some contest not presented here, add information about it <a href = "/edit_contest">here</a>.
        <br>
        The author of the site is Dmitry Bogdanov aka Rizar, cool pictures is made by Ales Drobysh :)
    </p>
{% endblock contents %}